__pycache__/
*.pyc
*.pyo
generations/
*.log
*.score
*.data
target/

!logs/baseline_perf.log
!logs/baseline_perf_report.log
!logs/baseline_perf_annotate_*.log
!logs/baseline_*.score
!logs/winners/*.log
!logs/winners/*.score
!logs/winners/*.md
